body {
  margin: 0;
  padding: 0;
}

.logo-text {
  width: 90%;
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -50%);
  font-family: "Roboto Slab";
  text-align: center;
  color: white;
  letter-spacing: 3px;
  -webkit-text-stroke: 1px #ffffff;
}
.logo-text h1 {
  font-size: 40px;
}

.bg-img {
  /* The image used */
  background: linear-gradient(to top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.7)),
    url("../images/headerImg.jpg") no-repeat center center;
  min-height: 100vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; /* Ensure the image covers the entire viewport */
  /* Keep the background fixed relative to the viewport */
  background-attachment: fixed;
  /* Needed to position the navbar */
  position: relative;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}
.navbar {
  position: absolute;
  justify-content: center;
  top: 30%;
  width: 100%;
}

.nav-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex; /* Align links horizontally */
  justify-content: center; /* Center links horizontally */
}

.nav-links li {
  margin: 0 10px; /* Adjust spacing between links */
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-family: "Roboto";
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  /* Use a different image or adjust the position for smaller screens */
  .bg-img {
    background-size: cover; /* Ensure the image covers the entire viewport */
    background-position: 65% center; /* Adjust the position for smaller screens */
  }
  .logo-text h1 {
    font-size: 30px;
  }
  .nav-links li a {
    font-size: 15px;
  }
  .navbar {
    top: 20%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 2px;
    margin-right: 2px;
  }
  .nav-links li {
    margin: 0 7px;
  }
}
